.layout-grid-container {
    background-color:var(--segment-color);
    display: grid;
    grid-template-areas: 
        "navbar"
        "content"
    ;
    /* grid-template-columns: 1fr; */
    /* grid-gap: 2px; */
    /* grid-template-columns: 1fr 4fr; */
    /* grid-column-gap: 02px;
    grid-row-gap: 02px; 
    grid-auto-rows: 50px 25px; */
}


.main-content {
    grid-area: content;
    /* background-color: #F5F5DC; */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: white;
}

.header-paregraph {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin:0;
}

.photo-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 850px;
    width:100%;
}

.about-me {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #3a6053;
    padding-top: 100px;
}

.image-container {
    width: 65%;
    padding-left: 110px;
    padding-top: 10px;
}

/* resize images */
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-me-paragraph {
    font-family: Avenir-LT-35-Light;
    line-height: 1.9em;
    margin-top:25px;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    height: 30vh;
    background-color: rgba(218, 209, 209, 0.728);
}
