.layout-grid-container {
    background-color:var(--segment-color);
    display: grid;
    grid-template-areas: 
        "content"
    ;
    grid-template-columns: 1fr;
    /* grid-gap: 2px; */
    /* grid-template-columns: 1fr 4fr; */
    /* grid-column-gap: 02px;
    grid-row-gap: 02px; 
    grid-auto-rows: 50px 25px; */
}


.main-content {
    grid-area: content;
    /* background-color: #F5F5DC; */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: white;
}

.header-paregraph {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin:0;
}

.photo-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 40vh;
    width:100%;
}

img {
    /* clip-path: circle(40%); */
    object-fit: cover;
}

.about-me-paragraph {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    height: 30vh;
    background-color: rgba(218, 209, 209, 0.728);
}

.footer-paregraph {
    width:60%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top:50px;
}