.layout-flex-container {
    display: flex;
    justify-content: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
    width:1000px;
}

.photo-gallery {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #3a6053; */
    padding-top: 20px;
}

.photo-box {
    width: 225px;
    height: 225px;
    margin: 5px;
}

.photo-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}