.about-me {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media screen and (max-width: 800px) {
    .about-me {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    
    .image-container {
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit:scale-down;
    }
}